
body{
    width: 100vw;
    height: 90vh;
    margin-top: 10px;
    background-color: #00FF00;;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;





INPUT.Button{
    height: 16px;
    background-color: #FFCC00;
    border: 1px outset #996600;
    font-size: 10px;
    line-height: normal;
    text-align: center;
    font-family: Verdana,Arial, Helvetica, Sans-serif;
    font-style: normal;
}

INPUT.Button2{
    height: 16px;
    background-color: #FF0000;
    border: 1px outset #996600;
    font-size: 10px;
    line-height: normal;
    text-align: center;
    font-family: Verdana,Arial, Helvetica, Sans-serif;
    font-style: normal;
}






