
body{
    width: 100vw;
    height: 90vh;
    margin-top: 10px;
    background-color: #22B3FF;;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.button {
    height: 16px;
    background-color: #FF9E21;
    border: 0;
    font-size: .8em;
    line-height: normal;
    text-align: center;
    font-family: Verdana,Arial, Helvetica, Sans-serif;
    box-shadow: 2px 2px 2px #B36500;
}






